<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(gem)"
  novalidate>
  <blockquote ng-repeat="review in gem.reviews">
    <b>Stars: {{review.stars}}</b> {{review.body}}
      <div ng-init="avatar = gravatarUrl(review.author)">
        <img ng-src="{{avatar}}"/>
      </div>
    <cite> by: {{review.author}}</cite>
  </blockquote>
  <div class="form-group">
    <select class="form-control" ng-model="reviewCtrl.review.stars" required>
                          <option value="1"> 1 Star</option>
                          <option value="2"> 2 Star</option>
                          <option value="3"> 3 Star</option>
                          <option value="4"> 4 Star</option>
                          <option value="5"> 5 Star</option>
                        </select>
    <textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
    <input class="form-control" ng-model="reviewCtrl.review.author" type="email" placeholder="Email" required/>
    <div> reviewForm is {{reviewForm.$valid}} </div>
    <input class="btn btn-default" type="submit" value="Submit" />
  </div>
</form>