<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:panel.isSelected(1)}"><a href="#" ng-click="panel.selectTab(1)">Specifications</a></li>
    <li ng-class="{ active:panel.isSelected(2)}"><a href="#" ng-click="panel.selectTab(2)">Reviews</a></li>
    <li ng-class="{ active:panel.isSelected(3)}"><a href="#" ng-click="panel.selectTab(3)">Descriptions</a></li>
  </ul>
  <div class="panel-body" ng-show='panel.isSelected(3)'>
    <h4>Description</h4>
    <p> {{ gem.description }} </p>
  </div>
  <div class="panel-body" ng-show='panel.isSelected(1)'>
    <h4>Specifications</h4>
    <p> xxxx </p>
  </div>
  <div class="panel-body" ng-show='panel.isSelected(2)'>
    <h4>Reviews</h4>
    <div ng-include="'html/form.html'"></div>
  </div>
</section>