<!doctype html>
<html ng-app="myApp">
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="assets/testMain.css" />
  </head>
  <body ng-controller="myController as controller">
      <!--<my-example></my-example> -->
      <div class="row container">
        <div ng-repeat="gem in model | orderBy: 'price'" class="col-md-3 col-xs-12 panel panel-default productBox">
          <h1 class="panel-heading text-center"> {{ gem.name }} </h1>
          <div class="panel-body">
            <div class="imgBox">
              <img ng-repeat="image in gem.images" ng-src="{{image.thumb}}" class="rockImg"/>
            </div>
            <h2> {{ gem.price | currency }} </h2>
            <section ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:panel.isSelected(1)}"><a href="#" ng-click="panel.selectTab(1)">Specifications</a></li>
                    <li ng-class="{ active:panel.isSelected(2)}"><a href="#" ng-click="panel.selectTab(2)">Reviews</a></li>
                    <li ng-class="{ active:panel.isSelected(3)}"><a href="#" ng-click="panel.selectTab(3)">Descriptions</a></li>
                </ul>
                <div class="panel-body" ng-show='panel.isSelected(3)'>
                  <h4>Description</h4>
                  <p>  {{ gem.description }} </p>
                </div>
                <div class="panel-body" ng-show='panel.isSelected(1)'>
                  <h4>Specifications</h4>
                  <p>  xxxx </p>
                </div>
                <div class="panel-body" ng-show='panel.isSelected(2)'>
                  <h4>Reviews</h4>
                  <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(gem)">
                    <blockquote ng-repeat="review in gem.reviews">
                      <b>Stars: {{review.stars}}</b>
                      {{review.body}}
                      <cite> by: {{review.author}}</cite>
                    </blockquote>
                    <div class="form-group">
                        <select class="form-control" ng-model="reviewCtrl.review.stars">
                          <option value="1"> 1 Star</option>
                          <option value="2"> 2 Star</option>
                          <option value="3"> 3 Star</option>
                          <option value="4"> 4 Star</option>
                          <option value="5"> 5 Star</option>
                        </select>
                        <textarea  class="form-control" ng-model="reviewCtrl.review.body"></textarea>
                        <input class="form-control" ng-model="reviewCtrl.review.author" type="email" placeholder="Email"/>
                        <input class="btn btn-default" type="submit" value="Submit"/>
                    </div>
                  </form>
                </div>
            </section>
          </div>  
          <button ng-show="gem.canPurchase" ng-click="decreaseQuantity(gem)" class="col-xs-4 btn btn-primary"> Add to cart</button>
          <span class="col-xs-8" >Quantity: {{ gem.quantity }}</span>
        </div>
      </div>

            <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
            <script src="jscript/testMain.js" type='text/javascript'></script>
  </body>
</html>